@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  padding: 20px;
  text-align: center
}

.card {
  max-width: 20rem;
  height: 495px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.1);


}

.card img {
    display:block;
    max-width: 100%;
    border-radius: 0.75rem;
    height: auto;
}
.text-wrapper {
    margin-top: .50rem;
  }
  
  .text-wrapper h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    /* padding-bottom: 1rem; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .text-wrapper p {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;

}

